.nav{
    padding: 5px 15px ;
    background-color: rgb(206, 55, 55);
    color: white;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(224, 215, 191);
    padding: 20px 50px;
}
.cont{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}